.headind-style{
    padding-left: 16rem;
    padding-right: 16rem;
}
.container-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 8px 16px;
   
    
}
.container-wrapper h6{
    font-weight: bold;
    
}
.content-wrapper{
    padding: 4rem 16rem;
}
.content-wrapper p{
    padding: 8px 16px;
}