.div-wrapper{
    background-color: #e2faf2;
width: 100%;
height: 380px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 12rem;

}
.title-wrapper{
    width: 24rem;
}
.card-img{
    height: 6rem;
    transform: rotate(150deg);
}
.image2{
height: 16rem;
}