.signup-container{
    background-color: #e2faf2;
    height: 260px;
    /* padding: auto; */
    text-align: center;
    padding: 4rem 0;
   
   
}
.signup-container h3{
/* padding-top: 4rem; */
padding-bottom: 2rem;
}