
.title{
    padding-top: 4rem;
    text-align: center;
}
.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 16rem;
}
.img-wrapper img{
    width: 16rem;
}
.description{
    width: 18rem;
}
.heading4{
    padding-top: 2rem;
    padding-bottom: 0.7rem;
}